# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.go]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab

[*.{md,markdown}]
# Two trailing spaces are a hard line break in Markdown.
trim_trailing_whitespace = false

[*.{yaml,yml}]
indent_size = 2

[*.{sh,bash}]
indent_size = 2

[*.tsv]
# docs/TASKS.tsv is pipe-delimited and column-sensitive.
trim_trailing_whitespace = true
insert_final_newline = true
